img {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

main .gallery-list .gallery-image {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
 
div.container {
    text-align: center;
    padding: 0;
}


/* The Modal (background) */
.myModal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

.myModal.open { display: block }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, .caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  modal-content {
    width: 70%;
    height: 70%;
  }
  

.gallery-list{
    display: grid;
    grid-gap: 10px;
    padding-top: 10px;

}

@media (min-width: 660px) {
    .gallery-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding-top: 10px;
    }
}

@media (min-width: 860px) {
    .gallery-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding-top: 10px;
    }
}

@media (min-width: 980px) {
    .gallery-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
}
