@import url('https://fonts.googleapis.com/css?family=Oswald|Sigmar+One|Slabo+27px&display=swap');

:root {
    --main-color: #1f1f1f;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    background-color: #cceffd;
}

h1, h2, h3, h4, p, section, header, main, footer {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    color:rgb(15, 15, 15);
}

body {
    max-width: 980px;
    margin: auto;
}

header {
    background-image: url(../img/bystronik.jpg);
    border-radius: 20px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header .logo a{
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

header .logo:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s;
        
 }

 header .logo a:hover {
    transition: 0.3s;
    color:rgb(119, 228, 255)
 }

header .logo {
    width: 200px;
}

header nav .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fafafa;
    border: 1px solid transparent;
    padding: 1px;
}

header nav .menu a:hover {
    background:#3bc4c4;
    border-radius:50%;
    color:rgb(6, 8, 6);
    transition: 0.3s;
}

header nav .menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 10;
    padding: 0;
    list-style-type: none;
}

main .first-block img, main .questions img, video{
    display: block;
    height: auto;
    max-width: 100%;
}

hr {
    border: 5px solid rgb(18, 142, 190);
    border-radius: 5px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    padding: 7px;
    text-indent: 20px;
}

h1, h2, h3 {
    margin: 10px;
    font-family: 'Slabo', Tahoma, sans-serif;
    color: #065991
}

@media (min-width: 620px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    header .logo {
        width: auto;
    }

    header nav .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    header nav .menu a{
    padding: 5px;
    }

    .first-block, .third-block, .questions{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    }
}