@import url('https://fonts.googleapis.com/css?family=Oswald|Sigmar+One|Slabo+27px&display=swap');

:root {
    --main-color: #1f1f1f;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    background-color: #cceffd;
}

h1, h2, h3, h4, p, section, header, main, footer {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}


header .logo a{
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

header .logo {
    width: 200px;
}

header nav .menu {
    display: flex;
    flex: 1;
    padding: 0;
    list-style-type: none;
}    

header nav .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fafafa;
    border: 1px solid transparent;
    padding: 5px;
}
header nav .menu a:hover {
    border: 1px solid #fafafa;
}

header {
    background-image: url(../img/bystronik.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 630px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}  

@media (max-width: 800px) {
    .first-block{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}  

h1, h2 {
    margin: 10px;
    font-family: 'Slabo', Tahoma, sans-serif;
    color: #654170
}

.first-block p {
    text-align: justify;
    padding-right: 12px;
    font-size: 1.2rem;
    font-family: 'Slabo', sans-serif;
}

.first-block {
display: flex;
justify-content: space-around;
}

.laser-cutting {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    float: left;
}

.second-block p {
    text-align: left;
    font-family: 'Slabo', sans-serif; 
}
