@import url('https://fonts.googleapis.com/css?family=Oswald|Sigmar+One|Lacquer|Slabo+27px&display=swap');

:root {
    --main-color: #1f1f1f;
    scroll-behavior: smooth;
    background-color: rgb(18, 142, 190);
}

h1, h2, h3, h4, p, section, header, main, footer {
    margin: 0;
    padding: 0;
}

hr {
    border: 5px solid rgb(18, 142, 190);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    text-align: justify;
    padding: 7px;
    text-indent: 20px;
}

h1, h2, h3 {
    margin: 10px;
    font-family: 'Slabo', Tahoma, sans-serif;
    color: #065991
}

a {
    text-decoration: none;
}

.arrow-up {
    position: fixed;
    right: 0px;   
    bottom: 0px;
    z-index: 1;
    opacity: 0.7; 
}

a:hover {
    transition: 0.3s;
    color:rgb(15, 15, 15);
}

body {
    max-width: 980px;
    margin: auto;
    background-color: #cceffd;
    border: solid white;
    font-family: 'Oswald', sans-serif;
}


header {
    background-image: url(../img/bystronik.jpg);
    border-radius: 20px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header .logo a{
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
}

header .logo:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s;
        
 }

header .logo a:hover {
    transition: 0.3s;
    color:rgb(119, 228, 255)
 }

header .logo {
    width: 200px;
}

header nav .menu a {
    text-transform: uppercase;
    color: #fafafa;
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    background:#3bc4c4;
    border-radius:50%;
    color:rgb(6, 8, 6);
    transition: 0.3s;
}

header nav .menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 10;
    padding: 0;
    list-style-type: none;
}


main .first-block img, .question-image img.top, video{
    display: block;
    height: auto;
    width: 100%;
}

.question-list {
    list-style-image: url(../img/arrow.png);
}

.question-image img.top:hover {
    transform: scaleX(-1);
}

.question-image img.bottom{
    display: none;
}

footer ul.links-list, footer ul.find-us-list {
    list-style-type: none;    
}

footer .find-us-list {
    display: grid;
    grid-row-gap: 10px;
    padding-bottom: 20px;
}

.contact{
        font: 95% Arial, Helvetica, sans-serif;
        max-width: 400px;
        margin: 10px auto;
        padding: 16px;
        background: #F7F7F7;
    }

.contact h2{
        background: rgb(16, 182, 248);
        padding: 20px 0;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: -16px -16px 16px -16px;
}
.contact input[type="text"],
.contact input[type="date"],
.contact input[type="datetime"],
.contact input[type="email"],
.contact input[type="number"],
.contact input[type="search"],
.contact input[type="time"],
.contact input[type="url"],
.contact textarea,
.contact select 
{
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 3%;
        color: #555;
        font: 95% Arial, Helvetica, sans-serif;
}
.contact input[type="text"]:focus,
.contact input[type="date"]:focus,
.contact input[type="datetime"]:focus,
.contact input[type="email"]:focus,
.contact input[type="number"]:focus,
.contact input[type="search"]:focus,
.contact input[type="time"]:focus,
.contact input[type="url"]:focus,
.contact textarea:focus,
.contact select:focus
{
    box-shadow: 0 0 5px rgb(16, 182, 248);
    padding: 3%;
    border: 1px solid rgb(16, 182, 248);
}
    
.contact input[type="submit"],
.contact input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: rgb(16, 182, 248);
    border-bottom: 2px solid rgb(35, 89, 189);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;	
    color: #fff;
}
.contact input[type="submit"]:hover,
.contact input[type="button"]:hover{
    background: rgb(6, 72, 194);
} 

footer .find-contact {
margin-bottom: 40px;
}

footer .links .links-list {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;
    }

@media (min-width: 800px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    header .logo {
        width: auto;
    }

    header nav .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 12px;
    }
    
    .first-block, .third-block, .questions{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    }

    .question-image img.bottom{
        display: block;
    } 

    .question-image {
        position: relative;
        height: 350px;
        width: 500px;
        margin: 0 auto;
      }
      
    .question-image img {
        position:absolute;
        left:0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
      
      .question-image img.top:hover {
        opacity: 0;
        transform: none;
    }

    .news-block {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    }

    .news-block1, .news-block2, .news-block3 {
    display: grid;
    grid-template-rows: 35% 10% 45% 10%;
    grid-row-gap: 10px;
    justify-items: center;   
    }
    
    .news-block img, .news-block p {
        width: 90%;
    }

    footer .links .links-list {
    display: grid;
    grid-template-columns: auto 43%;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;
    }

    footer .find-contact {
    display: grid;
    grid-template-columns: 55% 45%;
    }

}


/* Accordion */
.acc-content {
    display: none;
    padding: 5px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.acc-opener {
    position: relative;
    cursor: pointer;
 }
.acc-li-open .acc-content {
    display: block;
}

/* Clock */
.clock {
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 60px;
    font-family: Lacquer;
    letter-spacing: 7px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

